.catalogue {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  max-width: 80%;
  margin: auto;
}

.containerPhoto {
  width: 50%;
  height: 100%;
}

.containerPhoto:hover,
.photo-overlay:hover {
  background-color: #00000099;
}

.containerPhoto img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.containerPhoto img:hover,
.photo-image:hover {
  opacity: 0.5;
}
.entry-content {
  width: 564px;
  text-align: left;
  border-bottom: solid black 1px;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.entry-content h2 {
  text-transform: uppercase;
  line-height: 1;
  width: 420px;
  padding-bottom: 10px;
}

.entry-content p {
  text-transform: uppercase;
}

.infoPhoto {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.contact {
  display: flex;
  padding: 30px 0;
  flex-direction: row;
  align-items: baseline;
}

#boutonContact {
  font-size: 12px;
  font-weight: 400;
  padding: 8px 15px;
  width: 272px;
  height: 50px;
  margin-left: 137px;
  border-radius: 2px;
  border: none;
  background-color: var(--Button);
  box-shadow: 0px 0px 1px 0px black;
}

#boutonContact:hover,
#button_card_photos:hover,
#button_card_photos:hover a {
  background-color: var(--Button-hover);
  color: var(--Color-default);
}

.interesser {
  font-size: 14px;
  font-weight: 300;
}

.navContact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.likePhotos h3 {
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 30px;
}

.navigationPhoto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#miniaturePhoto {
  width: 81px;
  height: 71px;
  background-size: cover;
}

.arrowNav {
  width: 81px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
}

.autre_photos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#button_card_photos {
  padding: 8px 15px;
  width: 272px;
  height: 50px;
  border-radius: 2px;
  border: none;
  background-color: var(--Button);
  box-shadow: 0px 0px 1px 0px black;
  margin: auto;
}

#button_card_photos a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.card_photos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.photo-block {
  width: 564px;
  height: 495px;
  margin-bottom: 30px;
}

.photo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-title {
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: "PoppinsRegular";
  position: relative;
  left: 10px;
  top: 467px;
  display: none;
}

.photo-categorie {
  font-size: 14px;
  color: white;
  position: relative;
  left: 487px;
  top: 449px;
  display: none;
  width: 14%;
}

.eye-link {
  position: relative;
  left: 46%;
  top: 25vh;
  width: 50%;
  display: none;
}

.fullscreen-icon {
  position: relative;
  bottom: 66px;
  left: 520px;
  width: 7%;
  cursor: pointer;
  display: none;
}

.photo-overlay {
  z-index: 1;
  position: relative;
  left: 0;
  bottom: 501px;
  width: 100%;
  height: 100%;
}

.photo-block:hover .photo-title,
.photo-block:hover .photo-categorie,
.photo-block:hover .eye-link,
.photo-block:hover .fullscreen-icon {
  display: block;
}

.notPhoto {
  color: red;
}
