#galerie {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 10px;
}

#btnchargPlus {
  width: 100%;
}

#imagePlus {
  display: block;
  width: 272px;
  height: 50px;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  padding: 8px 15px;
  border: none;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: var(--Button);
  transition: background-color 0.3s ease;
}

.selectionFiltre {
  color: red;
}
